@keyframes moveBG {
    from{
        background-position: 0;
    }
    to{
        background-position: 500px;
    }
}

.l-main{
    min-height: 100vh;
    background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    position: relative;
    transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.l-base{
    max-width: 1250px;
    width: 90vw;
    margin: auto;
}

.l-message{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.281);
}